pip
scikit-learn
gensim
matplotlib
nltk
numpy~=1.21.5
pandas
pickleshare
plotly-express
plotly
pyldavis
regex
seaborn
setuptools
spacy
streamlit
streamlit-agraph
umap-learn
wordcloud
mlxtend
bertopic~=0.14.1
ipywidgets
